<!--표준 HTML 레이아웃-->
<!DOCTYPE html>
<html lang="ko" xmlns:layout="/layout.html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-ti-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>SpringBootPractice</title>
</head>
<body>
<!--Bootstrap JS-->
<script th:src="@{/bootstrap.min.js}"></script>

<!--템플릿 속 템플릿을 통해 코드를 깔끔하게 관리할 수 있음-->
<!--Nav Bar-->
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<!--페이지 내용-->
<th:block layout:fragment="content"></th:block>
</body>
</html>